<nav class="navbar border-bottom border-body" style="position: fixed; top: 0; background: linear-gradient(90deg, rgba(255, 228, 196, 1), rgb(253, 168, 168)); height: 80px; display: flex; justify-content: space-between; align-items: center; width: 100%; z-index: 1000;">
  <a href="#" class="align-self-center">
    <img src="  /img/logo-admin.png" alt="Bootstrap" style="width: 100px;">
  </a>
  <a href="/admin/logout" class="btn btn-info">Logout</a>
</nav>

