<%- include('../layouts/header') %>
<%- include('../layouts/layout') %>

<section>
    
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <link rel="stylesheet" href="/css/user-login.css">
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">

                    <!-------------      image     ------------->

                    <!-- <img src="img/TechBoom.png" alt=""> -->
                    <div class="text">
                        <h1 style="color: #844646;">TechBoom</h1>
                        <h6>Grab the peripherals at best price</h6>
                    </div>

                </div>
                <div class="col-md-6 right">

                  
                        <div class="input-box">
                            <header>Login</header>
                      
                        <form id="loginForm" action="/login" method="POST">
                    
                            <div class="input-field">
                                <input type="text" class="input" id="email" name="email" required autocomplete="off">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input type="password" class="input" id="pass"name="password" required>
                                <label for="pass">Password</label>
                                <div class="forgot">
                                    <small><a href="/forgotPassword">Forgot Password?</a></small>
                                </div>
                            </div>
                            <div class="input-field">

                                <input type="submit" class="submit" value="Login">
                            </div>
                        </form>    
                            <div class="signin">
                                <span>Don't have account? <a href="/signup">Register here</a></span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <%- include('../layouts/footer') %>